body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-repeat: no repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1{
    background-color: rgba(13, 43, 25, 0.5);
    padding: 15px;
    color: white;
    border-radius: 20px;
}

input {
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    border: none;
    padding: 15px;
    width: 220px;
    font-size: 18px;
    box-shadow: inset 0px 0px 0px 2px #1eac41;
    background-color: rgba(13, 43, 25, 0.5);
    font-weight: bold;
    text-align: center;
    margin-top: -5;
    color: #fff;
}

span {
    font-weight: bold;
}

.btn {
    margin-top: 5px;
    border: 3px solid #1eac42;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    background-color: rgba(13, 43, 25, 0.5);
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.containerHeader {
    display: flex;
    justify-content: center;
}

.containerSearch{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    padding: 5px;

}

.AnalysisContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(13, 43, 25, 0.5);
    color: #fff;
}

.parAnalysis {
    margin: 0;
}

@media all and (max-width: 800px) {
    video {
        display: none;
    }

    body {
        background-image: url(./Assets/phonebg.jpg);
    }

}
